/* home first-section */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.192);
}

p{
    color: white;
}

header{
    position: relative;
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}
  /* navbar */
  #services{ 
    overflow: hidden;
}
hr :hover{
    color: white;
}
*{
    padding: 0;
    margin: 0;
}
#nav-bar{
    width: 100%;
    height: 130px;
    border-bottom: 2px black solid;
}
.join-us-but{
    width: 12.7%;
    height: 30px;
    margin: 5px;
}
.logo{
    width: 12.6%;
    height: 80px;
    margin: 0px 0px 5px 5px;
    border: 1px black solid;
}
#nav{
    float: right;
    position: relative;
    right: 50px;
    bottom: 50px;
}
.but{
    margin: 10px;
    height: 30px;
    width: 80px;
}
#services{
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 80px;
    background: transparent;
   -o-appearance: none;
   -ms-appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: 0;
   border-width: 0;
   position: relative;
   left: 10px;
}


header .of{
    position: relative;
    z-index: 2;
    height: auto;
    margin-top: 13rem;
}
header .con_liner{
    position: relative;
    width: 100%;
    z-index: 2;
    height: 7rem;
    background-image: -webkit-linear-gradient(left, rgba(255,0,0,0), rgb(0, 110, 55));
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(0, 110, 55));
    margin-top: 9rem;
}
.con_liner :hover{
    
    background-image: -webkit-linear-gradient(right, rgba(255,0,0,0), rgb(0, 110, 55));
    
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(0, 110, 55));
    color: black;
    cursor: pointer;

}
header .con_liner .container .text {
    font-family: sans-serif;
    font-size: 20px;
    
}
header .con_liner .container{
    width: 100%;
    height: 40px;
    display: inline-block;
    margin-left: 10%;
    border-radius: 18px;
    margin-top: 2rem;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}


/* home-section 2 */
.carousel-placeholder
{
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  background-size: cover;
}



.carousel-placeholder-2  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}

.carousel-placeholder-3 img
{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}

.carousel-item
{
    
  height: 60vh;
}

#featured-products-carousel
{
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}



/* home-section 3 */
/* services */
.blockk{
    color: #382735;
    padding: 5%;
    align-content: center;
}
.block-11{
   /* color: #382735; */
}
.block-2{
    /* background-color: #324376; */
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0px;
    margin-left: -0px;
}
.block-col_1 img , .block-col_3 img {
    width: 100%;
    height: auto;
}
.block-col_2  a  , .block-col_2  p  , .block-col_2 a p   {
   text-decoration: none;
   color: #382735;
}
.block-col_4  a  ,.block-col_4 p , .block-col_4 a p   {
    text-decoration: none;
    color: #382735;
 }

