*{
    padding: 0;
    margin: 0;
}
#nav-bar{
    width: 100%;
    height: 130px;
    border-bottom: 2px black solid;
}
.join-us-but{
    width: 12.7%;
    height: 30px;
    margin: 5px;
}
.logo{
    width: 12.6%;
    height: 80px;
    margin: 0px 0px 5px 5px;
    border: 1px black solid;
}
#nav{
    float: right;
    position: relative;
    right: 50px;
    bottom: 50px;
}
.but{
    margin: 10px;
    height: 30px;
    width: 80px;
}
#services{
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 80px;
    background: transparent;
   -o-appearance: none;
   -ms-appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: 0;
   border-width: 0;
   position: relative;
   left: 10px;
}



/* The end frame of the homepage */

#left-side{
	   width: 50%;
    height: 500px;
    background-color: red;
	position: absolute;
    bottom: 0%;
}
#head1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 240%;
	margin-left: 50px;
	position: relative;
    top: 20px;
}
#all-event{
	float: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 140%;
    border-bottom: 1px black solid;
	position: relative;
    top: -10px;
	right: 40px;
}
#event1{
	height: 150px;
}
#date1{
	font-family: arial;
	font-size: 22px;
	position: relative;
    top: 20px;
	left: 20px;
}
#event{
	font-size: 40px;
	position: relative;
    top: 20px;
	left: 90px;
}
#time1{
	font-family: arial;
	font-size: 22px;
	position: relative;
    top: 90px;
	left: -140px;
}


#event2{
	height: 150px;
}
#date2{
	font-family: arial;
	font-size: 22px;
	position: relative;
    top: 20px;
	left: 20px;
}
#eventA{
	font-size: 40px;
	position: relative;
    top: 20px;
	left: 90px;
}
#time2{
	font-family: arial;
	font-size: 22px;
	position: relative;
    top: 90px;
	left: -170px;
}




#right-side{
	width: 49.9%;
    height: 500px;
    background-color: red;
	position: absolute;
    bottom: 0%;
	left: 50%;
	border-left: 1px black solid;
	
}
#head{
    font-family: 'Courier New', Courier, monospace;
    font-size: 240%;
	margin-left: 50px;
	position: relative;
    top: 20px;
}
#all-news{
	float: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 140%;
    border-bottom: 1px black solid;
	position: relative;
    top: -10px;
	right: 40px;
}
#hub2{
	height: 150px;
}
#date3{
	font-family: arial;
	font-size: 22px;
	position: relative;
    top: 20px;
	left: 20px;
}
#hub3{
	font-size: 40px;
	position: relative;
    top: 20px;
	left: 90px;
}
#time3{
	font-family: arial;
	font-size: 22px;
	position: relative;
    top: 90px;
	left: -140px;
}


#hub2{
	height: 150px;
}
#date4{
	font-family: arial;
	font-size: 22px;
	position: relative;
    top: 20px;
	left: 20px;
}
#hub4{
	font-size: 40px;
	position: relative;
    top: 20px;
	left: 90px;
}
#time4{
	font-family: arial;
	font-size: 22px;
	position: relative;
    top: 90px;
	left: -140px;
}


#hub2{
	height: 150px;
}
#date5{
	font-family: arial;
	font-size: 22px;
	position: relative;
    top: 20px;
	left: 20px;
}
#hub5{
	font-size: 40px;
	position: relative;
    top: 20px;
	left: 90px;
}
#time5{
	font-family: arial;
	font-size: 22px;
	position: relative;
    top: 90px;
	left: -140px;
}
@media screen and (max-width: 908px) {
   #left-side{
	width: 100%;
	position: absolute;
    bottom: 3.8%;
}
	#right-side{
	width: 99.9%;
	position: absolute;
    top: 95%;
	left: 0%;
}
}
